@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Work Sans', sans-serif;
}

.bg_hero{
  background: url(./imgs/hero.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.text-gray-400{
  color: #C4C4C4 !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background: black;
  cursor: pointer;
}
.content{
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.container_img {
  width: 100%;
  height: 100%;
}
.container_img:hover .overlay{
  opacity: 0.8;
}
.bg-about{
  background: url(./imgs/about-me.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
.bg-questions{
  background: url(./imgs/questions-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}